/* Fondo general con La Bombonera */
body {
    background-image: url("img/bombonera.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFD700; /* amarillo */
    text-align: center;
    font-family: Arial, sans-serif;
}

/* Navegación */
nav {
    margin: 20px;
}
nav a {
    color: #FFD700;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover {
    color: #FFFFFF;
}

/* Logo del escudo */
.logo img {
    width: 200px;
    margin-top: 20px;
    border: 3px solid #FFD700; /* borde amarillo */
    border-radius: 10px;
    background-color: rgba(0,0,0,0.6); /* fondo oscuro para resaltar */
    padding: 5px;
}
